<WiredCard class="wirde" >
  <h1>{{ eu }}</h1>

  {{outlet}}
  {{!-- <WiredInput placeholder="Atualizar"></WiredInput> --}}
  {{!-- <wired-button>Click Me</wired-button> --}}

  <WiredSpiner>

  </WiredSpiner>
</WiredCard>
{{log "template log " eu}}

<Input
 @value={{eu}}
 />

<WiredInput
  @value={{eu}}
  @name="nome-input"
/>